<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300326316452-ua435u784gff8jus2fs1bjiffltqr6m4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300326316452-ua435u784gff8jus2fs1bjiffltqr6m4</string>
	<key>API_KEY</key>
	<string>AIzaSyCDwNmp8b8gVMM9qA7km5eiLSigXDYDXv4</string>
	<key>GCM_SENDER_ID</key>
	<string>300326316452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Com.Htf.Crew</string>
	<key>PROJECT_ID</key>
	<string>crew-21744</string>
	<key>STORAGE_BUCKET</key>
	<string>crew-21744.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300326316452:ios:fd600d68f711fbe842f931</string>
</dict>
</plist>